{% extends 'main/layout.html' %}

{% block content %}
    <div class="container" style="position: relative; left: 20px;">
        <div class="row" style="">
            <div class="col-md-8">
                <h1 class="display-4">О нас</h1>
                <p class="lead">Мы - команда CURVA BOBER, стремящаяся создать уникальные и захватывающие мероприятия для всех наших участников.</p>
                <hr class="my-4">
                <p>Наша цель - собрать вместе единомышленников, которые разделяют нашу страсть к спорту, культуре и общению.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Присоединиться к нам</a>
                </p>
            </div>

            <h1>Наши невебические качества:</h1>
            <ul>
                {% for name_element in values %}
                <li>{{ name_element }}</li>
                {% endfor %}
            </ul>

            <div class="col-md-4">
                <h2>Контакты</h2>
                <p>Хотите связаться с нами? Напишите нам по адресу: info@curvabober.com или позвоните по телефону: +123456789.</p>
            </div>
        </div>
    </div>
{% endblock %}
