{% extends 'main/layout.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="position: relative; right: -20px;">
            <h1>{{ title }}</h1>
            <h1 class="display-4">Добро пожаловать на главную страницу CURVA BOBER!</h1>
            <p class="lead">Мы рады приветствовать вас здесь. CURVA BOBER - это не просто сообщество, это стиль жизни.</p>
            <hr class="my-4">
            <p>Следите за нашими последними новостями и анонсами мероприятий на странице "Главная". У нас всегда что-то интересное происходит!</p>

            <h1>У нас есть все! Например:</h1>
            <ul>
                {% for name_element in values %}
                <li>{{ name_element }}</li>
                {% endfor %}
            </ul>

            {% for name_element in obj.values %}
                {% if name_element == "Two" %}
                    <h3 style="color: pink;">{% filter upper %}{{ name_element }}{% endfilter %}</h3>
                {% else %}
                    <h3 style="color: red;">{{ name_element|lower }}</h3>
                {% endif %}
            {% endfor %}

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Присоединиться к нам</a>
            </p>
        </div>
    </div>
{% endblock %}
