<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
          background-image: linear-gradient(105deg, rgb(0 249 255 / 100%) 39%, rgb(51 56 57 / 100%) 96%);
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <header style="background-color: #333; color: #fff; padding: 20px;">
        <h1 style="margin: 0;">{% block header %}{% endblock %}</h1>
        <nav>
            <ul style="list-style-type: none; padding: 0;">
                <li style="display: inline; margin-right: 20px;"><a href="">Главная</a></li>
                <li style="display: inline; margin-right: 20px;"><a href="">О нас</a></li>
            </ul>
        </nav>
    </header>

    <section style="padding: 20px; height: calc(100vh - 160px);">
        <h2>{% block caption %}{% endblock %}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ullamcorper auctor ligula, sit amet consequat ex mattis a. Fusce a mauris non urna viverra accumsan. Quisque vestibulum mauris in ullamcorper convallis. In hac habitasse platea dictumst. Nam sit amet enim auctor, posuere sapien vitae, tristique felis. Sed nec fringilla eros. Nullam ultricies nunc vel dolor hendrerit, nec pharetra purus consequat. Nulla consequat suscipit neque non cursus. Suspendisse potenti. Cras luctus nisi vitae erat dictum, nec fringilla purus ullamcorper. Nulla vitae ex non ante tincidunt volutpat vel eget metus. Morbi placerat ac elit vitae commodo. Nunc auctor, eros eget egestas egestas, ligula orci aliquet lectus, nec dignissim neque urna nec nibh.</p>
        <p>Donec tincidunt dui sit amet elit semper, quis mattis lorem tristique. Duis quis interdum odio. Curabitur non sapien elit. Nullam in sapien at ex tristique commodo. Maecenas volutpat tincidunt lectus, ut suscipit nulla dignissim ac. Integer at ante luctus, accumsan justo ut, pharetra felis. Cras tempus, arcu nec aliquet feugiat, dolor sapien pellentesque ipsum, sit amet eleifend tortor tortor ac orci. Integer id dapibus purus. Nam ac lacinia metus, eget pharetra lorem. Suspendisse sit amet ligula vel dui posuere malesuada ac sed nisi. Cras non feugiat libero, id facilisis felis. Mauris quis nisi in purus vehicula ultricies.</p>
    </section>

    <footer style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
        <p>&copy; 2024 Все права защищены.</p>
    </footer>

</body>
</html>
